{    
    "SINCEDB_PATH": "/tmp",

    "HEADERS":{
    	"Accept": "application/json",
    	"Authorization": "Bearer xoxp-1234567890..."
    },

	"LOGTYPES":[
        "workspace_created",
        "workspace_deleted",
        "organization_created",
        "organization_deleted",
        "channels_export_started",
        "migration_scheduled",
        "guest_channel_join",
        "guest_channel_leave",
        "role_change_to_owner",
        "role_change_to_admin",
        "role_change_to_user",
        "role_change_to_guest",
        "owner_transferred",
        "app_approved",
        "app_installed",
        "app_scopes_expanded",
        "user_channel_join",
        "user_channel_leave",
        "channel_moved",
        "public_channel_created",
        "private_channel_created",
        "public_channel_deleted",
        "private_channel_deleted",
        "guest_created",
        "guest_deactivated",
        "guest_reactivated",
        "public_channel_archive",
        "private_channel_archive",
        "public_channel_unarchive",
        "private_channel_unarchive",
        "mpim_converted_to_private",
        "public_channel_converted_to_private",
        "user_created",
        "user_deactivated",
        "user_reactivated",
        "guest_expiration_set",
        "guest_expired",
        "guest_expiration_cleared",
        "user_login",
        "user_logout",
        "app_uninstalled",
        "app_token_preserved",
        "file_downloaded",
        "file_downloaded_blocked",
        "file_uploaded",
        "file_public_link_created",
        "file_public_link_revoked",
        "file_shared"
    ]
}